.modal-table {
  overflow-y: scroll;
  height: 41.5vh;
  display: block;
}

.tag-input {
  width: 100px;
  display: inline-block;
}

.table-material {
  font-size: 19px;
  color: red;
}

.selected {
  background-color: rgb(212, 213, 214);
}

.modal-input {
  margin-bottom: -20px;
  margin-top: -11px;
}

.select-button {
  float: right;
}

.modal-button {
  margin-left: 10px;
  /* margin-right: 10px; */
  float: right;
}

.search-input {
  margin-bottom: -13px;
}

