.modal-table {
  overflow-y: scroll;
  height: 40vh;
  display: block;
}

.tag-input {
  width: 100px;
  display: inline-block;
}

.table-material {
  font-size: 19px;
  color: red;
}

.selected {
  background-color: rgb(212, 213, 214);
}
