.navbar-custom {
  background-color: #162857; /* Cor de fundo do header */
}

.navbar-custom .navbar-brand {
  font-size: 1.5rem; /* Tamanho da fonte para a marca do Navbar */
}

.navbar-custom .nav-link,
.navbar-custom .nav-dropdown .dropdown-item {
  color: white; /* Cor do texto dos links e itens de dropdown */
}

.navbar-custom .nav-link-custom {
  color: white; /* Cor do texto */
  position: relative; /* Posicionamento relativo para o efeito de linha */
  padding-bottom: 10px; /* Espaço abaixo do texto para a linha */
}

.navbar-custom .nav-link-custom::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ffffff; /* Cor da linha */
  transition: width 0.3s ease; /* Transição suave da largura */
}

.navbar-custom .nav-link-custom:hover::after {
  width: 100%; /* Largura da linha ao passar o mouse */
}

/* Estilos para o logo */
.logo-container {
  width: 154px; /* Ajuste a largura conforme necessário */
  height: 48px; /* Ajuste a altura conforme necessário */
  background-color: #ffffff; /* Fundo branco */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px; /* Espaçamento à direita para separar o logo dos links */
}

.navbar-logo {
  max-width: 100%;
  height: auto;
}
